<div class="buttons-container">
  <h2>Buttons</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Primary</th>
        <th>Secondary</th>
        <th>Tertiary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td><button class="btn btn-primary">Button</button></td>
        <td><button class="btn btn-outline-primary">Button</button></td>
        <td><button class="btn btn-link">Button</button></td>
      </tr>
      <tr>
        <td>Hover</td>
        <td><button class="btn btn-primary hover">Button</button></td>
        <td><button class="btn btn-outline-primary hover">Button</button></td>
        <td><button class="btn btn-link hover">Button</button></td>
      </tr>
      <tr>
        <td>Selected</td>
        <td><button class="btn btn-primary active">Button</button></td>
        <td><button class="btn btn-outline-primary active">Button</button></td>
        <td><button class="btn btn-link active">Button</button></td>
      </tr>
      <tr>
        <td>Disabled</td>
        <td><button class="btn btn-primary" disabled>Button</button></td>
        <td><button class="btn btn-outline-primary" disabled>Button</button></td>
        <td><button class="btn btn-link" disabled>Button</button></td>
      </tr>
    </tbody>
  </table>
</div>
